// PROGRESS BAR CONTAINER
.progress-bar-container {
  max-width: $board-height;
  margin: 0 auto;
  height: $progress-bar-height;
  padding: 0 15px;
}
.progress-bar-wrapper {
  padding: 0 10px;
}
.progress-bar-score-item {
  width: 33%;
  float: left;
  text-align: center;
  padding-bottom: 10px;
}
.progress {
  width: 100%;
  height: 10px;
}
.progress-wrap {
  margin: 20px 0;
  background: $brand-color;
  border: 2px solid $brand-dark;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  .progress-bar {
    background: $brand-dark;
    left: 0;
    position: absolute;
    top: 0;
  }
}


// POPUP
// TODO: fix double rendering of popup
.rules .popup, .gameOver.popup {
  display: none !important;
}

.popup {
  border: 5px solid #d41356;
  border-radius: 10px;
  background: #fed428;
  position: absolute;
  width: 30%;
  top: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 20px 40px;
  -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.6);
  box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.6);

  h3 {
    color: $brand-color;
    text-align: center;
  }
  a.main-button {
    display: block;
    padding: 10px;
    background-color: #e50e73;
    color: #fed428;
    text-align: center;
    cursor: pointer;

    &:hover {
      color: #fed428;
    }
  }
  p {
    color: #2a1c7d;
  }
  .social-buttons{
    margin-top: 10px;
    text-align: center;

    a.social-button {
      width: 40px;
      height: 40px;
      margin-left: 10px;
      display: inline-block;
      border-radius: 50%;
      background-color: #e50e73;
      line-height: 40px;
      color: #fed428;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
    }
  }
}


// RULES
.rulesLinkBlock {
  @media (min-width: $small-screen) {
    margin-top: 2em;
  }
}

.rulesLink {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.rules {
  margin-top: 10px;
}


// SCOREBOARD
.scoreboard ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.truncate-name {
  max-width: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
}

//Cell
.simpleCell {
  width: 10%;
  padding-bottom: 10%;
  height: 0;
  max-width: 64px;
  float: left;
  background-color: $text-color;
  border-radius: 50%;
  font-size: 2em;

  color: red;
  line-height: 64px;
  text-align: center;
}

.currentState {
  box-shadow:0 0 0 7px $brand-color inset;
  background-color: $accent-color;
}

.possibleMove {
  box-shadow:0 0 0 7px $accent-color inset;
  cursor: pointer;
}

.impossibleMove {
  opacity: .5;
}