@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@font-face {
  font-family: 'GlasoorFF4F';
  font-weight: 400;
  font-style: normal;
  src: local('GlasoorFF4F'), font_url('2FA0E6_0_0.eot') format('embedded-opentype'), font_url('2FA0E6_0_0.woff2') format('woff2'), font_url('2FA0E6_0_0.woff') format('woff'), font_url('2FA0E6_0_0.ttf') format('truetype');
}