body {
  color: $text-color;
  margin: 0;
  background: asset-url('bg.jpg') no-repeat center center fixed;
  background-size: cover;

  a {
    color: $link-color;

    &:hover {
      color: $accent-color;
    }
  }
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto;
  height: 50px;
}

.page-content {
  height: $board-height + $progress-bar-height;

  @media (max-width: $x-small-screen) {
    height: $x-small-screen;
  }
}

.site-wrapper {
  margin: $top-space*2 0;

  @media (max-width: $small-screen-max) {
    margin-top: $top-space*2 +30px; //fix rails rumble banner overlay
  }
}


// navigation
.navbar {
  font-weight: 400;
  background:rgba(0, 0, 0, 0);
  font-size: 24px;
  margin: 1% 5% 0;

  .nav {
    @media (max-width: $small-screen-max) {
      display: inline-flex;
      font-size: 16px;
    }
  }

  p {
    font-size: .5em;
  }
}

.home-link {
  font-weight: 700;
  font-size: 1.7em;
  color: $brand-color;
  text-decoration: none;
  font-family: 'GlasoorFF4F', sans-serif;

  &:hover {
    color: $brand-color;
  }
}

.new-game-button {
  vertical-align: sub;
}

.sidebar {
  position: fixed;

  @media (max-width: $small-screen-max) {
    left: 0;
    width: 100%;
    text-align: center;
    position: absolute;

    &-left {
      top: 30px;
    }

    &-right {
      margin: 40px 0;
    }
  }

  @media (min-width: $small-screen) {
    top: $top-space;
    width: $sidebar-width;
    max-width: 190px;
    min-width: 180px;

    &-left {
      left: $sidebar-right-space;
    }

    &-right {
      right: $sidebar-right-space;
    }
  }
}