body {
  color: $text-color;
  margin: 0;
  background: asset-url('bg.jpg') no-repeat center center fixed;
  background-size: cover;

  a {
    color: $link-color;

    &:hover {
      color: $accent-color;
    }
  }
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto;
  height: 50px;
}

.page-content {
  height: $board-height + $progress-bar-height;
}

.site-wrapper {
  margin-top: $top-space*2;
}


// navigation
.navbar {
  font-weight: 400;
  background:rgba(0, 0, 0, 0);
  font-size: 24px;
  margin: 1% 5% 0;
}

.home-link {
  font-weight: 700;
  font-size: 1.5em;
  color: $link-color;
  text-decoration: none;
  font-family: 'GlasoorFF4F', sans-serif;

  &:hover {
    color: $link-color;
  }
}


.sidebar {
  position: fixed;

  @media (max-width: $small-screen-max) {
    left: 0;
    width: 100%;
    text-align: center;
    position: absolute;

    &-left {
      top: 0;
    }

    &-right {
      margin-bottom: 40px;
    }
  }

  @media (min-width: $small-screen) {
    top: $top-space;
    width: $sidebar-width;
    max-width: 190px;
    min-width: 180px;

    &-left {
      left: $sidebar-right-space;
    }

    &-right {
      right: $sidebar-right-space;
    }
  }
}