@import 'variables';
@import 'fonts';


// MIXINS
@mixin transition($transition...) {
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

a {
  @include transition(background-color .3s ease-in-out, color .3s ease-in-out);
}


// UTILS
.text-center {
  text-align: center;
}

.text-accent {
  color: $accent-color;
}

.text-brand {
  color: $brand-color;
}

.text-important {
  font-size: 1.2em;
}

.small-icon {
  height: 1.2em;
  margin-right: 10px;
}

.mr {
  margin-right: 25px;
}

.pb {
  padding-bottom: 10px;
}
