$accent-color: #23D0D0;
$brand-color: #E50E73;
$link-color: $brand-color;
$text-color: #FFD428;
$white: white;


$sidebar-width: 10%;
$sidebar-right-space: 5%;
$progress-bar-height: 50px;
$top-space: 40px;


$small-screen: 1024px;