$accent-color: #23D0D0;
$brand-color: #E50E73;
$brand-dark: #891C5D;
$link-color: $brand-color;
$text-color: #FFD428;
$white: white;


$sidebar-width: 10%;
$sidebar-right-space: 3%;
$progress-bar-height: 50px;
$top-space: 50px;
$board-height: 640px;


$small-screen: 1080px;
$small-screen-max: $small-screen - 1px;

$x-small-screen: 666px;