@import 'global';
@import 'layout';

.popup {
  border: 5px solid #d41356;
  border-radius: 10px;
  background: #fed428;
  position: absolute;
  width: 30%;
  top: 20%;
  left: 30%;
  padding: 20px 40px;

  h3 {
    color: #b51b64;
    text-align: center;
  }
  a {
    display: block;
    padding: 10px;
    background-color: #e50e73;
    color: #fed428;
    text-align: center;
    cursor: pointer;

    &:hover {
      color: #fed428;
    }
  }
}

.rulesLinkBlock {
  position: absolute;
  left: 50%;
  top: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.rulesLink {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  cursor: pointer;
}
