.progress-bar-container {
  max-width: 512px;
  margin: 0 auto;
  height: $progress-bar-height;
}
.progress-bar-wrapper {
  display: inline-block;
  width: 80%;
}
.progress-bar-score {
  float: right;
  width: 20%;

  .title {
    text-align: center;
  }
  .score {
    text-align: center;
  }
}
.progress {
  width: 100%;
  height: 10px;
}
.progress-wrap {
  margin: 20px 0;
  background: #e80d73;
  border: 2px solid #871d5d;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  .progress-bar {
    background: #871d5d;
    left: 0;
    position: absolute;
    top: 0;
  }
}

